* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    user-select: none;
    background: #F8A6CD;
    scroll-behavior: smooth;
    color: black;
}

nav {
    background: #DE00FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: none;
}

nav.scrolled {
    border-bottom: solid 2px black;
}

header {
    background: #DE00FF;
    width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: solid 2px black;
}

div {
   background: transparent;
}

div.button-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: corporate-s-std-urw, sans-serif;
    font-weight: 700;
    background: transparent;
}

h1 {
    font-size: 28px;
}

p {
    font-family: halyard-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1#title-h1.hidden {
    opacity: 0;
    pointer-events: none;
}

a {
    color: black;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a:hover {
    opacity: 0.5;
    transition: all 0.3 ease 0s;
}

a h1{
    color: black;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a h1:hover {
    opacity: 0.8;
    transition: all 0.3 ease 0s;
}

div.nav-spacer {
    background: #DE00FF;
    width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

div.nav-spacer h1 {
    opacity: 0;
    pointer-events: none;
}

div.link-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

div.link-container p a {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

div.link-container p a:hover {
    opacity: 0.6;
    text-decoration: none;
}

button {
    width: 50%;
    height: 50px;
    border: none;
    font-family: halyard-micro, sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    background: black;
    color: white;
}

@media screen and (max-width: 900px) {
	nav {
		background: #DE00FF;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		padding: 4%;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	header {
		padding: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}
}
