* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    user-select: none;
    background: #F8A6CD;
    scroll-behavior: smooth;
    color: black;
}

nav {
    background: #DE00FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: none;
    z-index: 2;
}

nav.scrolled {
    border-bottom: solid 3px black;
}

nav h1 {
    font-size: 24px;
}

noscript {
    background: transparent;
}

.splash-screen h2 {
    font-size: 36px;
}

.splash-screen p {
    font-size: 20px;
}

.splash-screen noscript p {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 15px;
}

header {
    background: #DE00FF;
    width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: solid 3px black;
}

section {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: solid 3px black;
}

article {
    width: 100%;
    height: 180px;
    background: #ffc900;
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

footer {
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: solid 3px black;
}

span.material-icons-round {
    position: relative;
    background: transparent;
    vertical-align: text-bottom;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 1;
}

span.material-icons-round.more-icon {
    transform: rotate(90deg);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: corporate-s-std-urw, sans-serif;
    font-weight: 700;
    background: transparent;
}

h1 {
    font-size: 48px;
}

p {
    background: transparent;
    font-family: halyard-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1#title-h1.hidden {
    opacity: 0;
    pointer-events: none;
}

a {
    color: black;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a:hover {
    opacity: 0.5;
    transition: all 0.3 ease 0s;
}

a:active {
    transition: all 0.3s ease 0s;
    transform: scale(0.5);
}

a h1 {
    color: black;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a h1:hover {
    opacity: 0.8;
    transition: all 0.3 ease 0s;
}

div.nav-spacer {
    background: #DE00FF;
    width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

div.nav-spacer h1 {
    opacity: 0;
    pointer-events: none;
}

div.link-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

div.link-container p a {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

div.link-container p a:hover {
    opacity: 0.6;
    text-decoration: none;
}

div.button-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

div {
    background: transparent;
}

div.splash-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #dd00ff;
    border-bottom: solid 2px black;
    z-index: 10;
    transition: all 0.5s ease 0s;
}

div.splash-screen.hidden {
    transform: translateY(-100%);
    transition: all 1s ease 0s;
}

div.articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1.5%;
    grid-row-gap: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

div.article-title-desc {
    width: 100%;
    height: 100%;
    padding: 1.85%;
    border-bottom: inset 5px #ffc800;
    overflow: hidden;
}

div.article-title-desc p {
    height: 100%;
    text-overflow: ellipsis;
}

div.more-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: white;
    background: #dd00ff;
    border-top: solid black 5px;
    align-items: center;
}

div.paragraph {
    background: black;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

div.paragraph p {
    color: white;
}

div.paragraph span {
    color: white;
}

div.date {
    background: #dd00ff;
    width: 100%;
    padding: 2%;
}

div.date p {
    color: black;
    text-align: right;
}

div.more-container p {
    font-size: 16px;
    font-weight: 100;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    font-family: halyard-micro, sans-serif;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    nav {
        background: #DE00FF;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        padding: 4%;
        padding-left: 5%;
        padding-right: 5%;
    }

    header {
        padding: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    section {
        padding: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    footer {
        padding: 2%;
        padding-left: 5%;
        padding-right: 5%;
        border-bottom: solid 2px black;
    }

    div.articles-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10%;
        grid-row-gap: 4%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    div.articles-container p {
        font-size: 14px;
    }
}