* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    user-select: none;
    background: #F8A6CD;
    color: black;
}

nav {
	background: #DE00FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: none;
}

nav .scrolled {
	border-bottom: solid 2px black;
}

div.nav-spacer {
	background: #DE00FF;
	width: 100%;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

div.nav-spacer h1 {
	opacity: 0;
	pointer-events: none;
}

header {
	background: #DE00FF;
	width: 100%;
	padding: 2%;
	padding-left: 15%;
	padding-right: 15%;
	border-bottom: solid 2px black;
}

div {
	background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: transparent;
}

a {
    color: white;
    background: transparent;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a:hover {
    opacity: 0.5;
    transition: all 0.3 ease 0s;
}

a h1{
    color: black;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

a h1:hover {
    opacity: 0.8;
    transition: all 0.3 ease 0s;
}

@media screen and (max-width: 900px) {
	nav {
		background: #DE00FF;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: fixed;
		padding: 4%;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	header {
		padding: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}
}
