* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  user-select: none;
  background: black;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}